
body{
    background-color: burlywood;

}

header{
display: flex;
background-color: grey;
padding: 10px;
justify-content: center;
text-align: center;
}

text.caption {
    float:left;
    clear: both;
} 

#books{
    margin-bottom: 30px;
}